//
@import "~bootstrap/scss/bootstrap";
@mixin clearfix{
  &:after{
    content:'';
    display: table;
    clear: both;
  }
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.navbar{

  height: 90px;
  background-color: blue;
  color: white;
  .logo{
    line-height: 90px;
    padding: 0 0 0 10px;
  }
  ul{
    list-style: none;
    text-align: right;
    li{
      display: inline-block;
      margin: 0 30px;
      line-height: 90px;
      a{
        color: white;
        text-decoration: none;
        &.active{
          color: red;
        }
      }
    }
  }
}

.nav-footer{
  height: 100px;
  background-color: grey;
  @include clearfix;
  ul{
    list-style: none;
    float: right;
    text-align: right;
    a{
      color: white;
    }
  }
}
