//
@import "~bootstrap/scss/bootstrap";

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.navbar{

  height: 90px;
  background-color: blue;
  color: white;
  .logo{
    line-height: 90px;
    padding: 0 0 0 10px;
  }
  ul{
    list-style: none;
    text-align: right;
    li{
      display: inline-block;
      margin: 0 30px
      line-height: 90px;
      a{
        color: white;
        text-decoration: none;
        &.active{
          color: red;
        }
      }
    }
  }
}
